service cloud.firestore {
  match /databases/{database}/documents {
    match /mhta/{userId}/patients {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
    
    match /mhta/{userId}/examinations {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }

    match /mhta/{userId}/records {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
  }
}
